<div class="well bg-panel">
  <div class="col-md-5">
    <img class="pet-pic" src="img/puppy.gif">
  </div>
  <div class="col-md-5 tama-form">
    <form class="tama-form" action="/tamagotchi" method="post">
      <div class="form-group">
        <button class="btn btn-default" type="button" name="check">Check</button>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="button" name="food">Food</button>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="button" name="play">Play</button>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="button" name="sleep">Sleep</button>
      </div>
    </form>
  </div>
</div>
