<form action="/play">
  <div class="form-group">
    <label for="name">Name your pet</label>
    <input type="text" name="name" class="form-control" required>
  </div>
  <button class="btn btn-default" type="submit">Play</button>
</form>
