body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
}

.jumbotron {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 100%;
}

.bg-panel {
  margin: 0 auto;
  background-color: #bbf9d4;
  height: 100%;
}

img {
  height: 200px;
  background-color: gray;
  float: left;

}
.tama-form {
  float: right;
}
/** {
  border: 1px solid black;
}*/
